<script>
  lightbox.option({
    'disableScrolling': true
  })
</script>

<div>
  <h2>Search Result</h2>
  search word = <%= @q %>
</div>

<br/>

<div class="pager">
  <%= paginate @horses %>
</div>

<div class="flex-container">
  <% @horses.each do |horse| %>
    <div class="horsedata">
      <div>
        <%= link_to image_tag(horse.image_url, class: %w(thumb)), horse.image_url, data: {lightbox: horse.name, title: "#{horse.name} #{horse.date} / #{horse.race}"} %>
      </div>
      <div>
        <div><%= link_to horse.name, horse.url, target: :blank %></div>
        <div class="subinfo">（<%= horse.date %> / <%= horse.race %>）</div>
      </div>
    </div>
  <% end %>
</div>

<div class="pager">
  <%= paginate @horses %>
</div>

<%= link_to 'Back', search_path %>
